@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}
html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
  background: radial-gradient(
    at top left,
    rgb(225, 198, 43) 0%,
    rgb(9, 107, 102) 100%
  );
  background-repeat: no-repeat;
}
p {
  margin: 16px;
  line-height: 1.5em;
}
/* ------------- */
.header {
  grid-template-columns: "1fr 1fr";
}

@media (max-width: 700px) {
  .header {
    grid-template-columns: "1fr";
  }
}

/* layout & nav */
.layout {
  max-width: 1400px;
  margin: 0 auto;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  justify-content: flex-end;
}

nav .links {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: white;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer p {
  position: fixed;
  bottom: 0;
  color: #ffcc00;
  margin: 40px auto;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #50c850;
  background-image: url(../images/bars.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#preloader-none {
  opacity: 0;
}
/* ----------- */
